* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
}

/* app */

.app-shell::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background: rgba(0, 0, 0, 0.1);
}

.global-particles {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.particle {
  position: absolute;

  width: 1px;
  height: 1px;
  border-radius: 50%;

  opacity: 0;

  background: rgb(255, 255, 255);

  box-shadow:
    0 0 15px rgba(255, 255, 255, 0.9),
    0 0 24px rgba(244, 245, 255, 0.6),
    0 0 40px rgba(120, 140, 255, 0.3);

  transform: translate(-50%, -50%);

  animation: particleFloat var(--duration) ease-out forwards;
}

.app-main {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* animation */

@keyframes particleFloat {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  20% {
    opacity: 0.95;
  }

  100% {
    opacity: 0;
    transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy)))
      scale(3);
  }
}