header {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;

  background-color: transparent;

  transform: translateY(-100%);
  transition:
    background-color 0.9s ease,
    transform 0.5s ease;
}

header.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header.hide {
  transform: translateY(-100%);
}

header:hover {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
}

/* nav */

nav {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
}

nav * {
  color: white;
}

header:hover nav * {
  color: black;
}

header.dark nav * {
  color: black;
}

nav .logo {
  width: 70px;
  height: 80px;

  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gnb {
  display: flex;
  align-items: center;

  font-weight: 700;
}

.gnb li {
  padding: 20px;

  cursor: pointer;
}

/* responsive */

@media screen and (max-width: 1200px) {
  header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 10px;
  }
}